In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00448/carbon_nanotubes.csv')

In [9]:
df.head()

                                                    Chiral indice n;Chiral indice m;Initial atomic coordinate u;Initial atomic coordinate v;Initial atomic coordinate w;Calculated atomic coordinates u';Calculated atomic coordinates v';Calculated atomic coordinates w'
2;1;0 679005;0 701318;0 017033;0 721039;0 730232;0                                            17014.0
      717298;0 642129;0 231319;0 738414;0 65675;0                                            232369.0
      489336;0 303751;0 088462;0 477676;0 263221;0                                            88712.0
      413957;0 632996;0 040843;0 408823;0 657897;0                                            39796.0
      334292;0 543401;0 15989;0  303349;0 558807;0                                           157373.0